
<!--<body style="background-image:url(assets/images/banner.jpg)"></body> -->
<!-- <div class="header"></div> -->
<!-- <img src="assets/images/banner.jpg" alt="Supergirl Image" class="supergirl_image"> -->
<div id="header">
  <div class="header-inner">

<div id="logoWrapper" class="wrapper" data-content-field="site-title">        
    <h1 id="logoImage"><a href="/"><img src="assets/images/logo.jpg" alt="Free The Feet"></a></h1>
    <h3 class="logo_text">Free Ur Feet</h3>
</div>

<div class="headerNav">
  <!-- <div id="mainNavWrapper" class="nav-wrapper"> -->
<nav>
  <ul>
    <li>
      <a routerLink ="home" title="home">
        HOME
      </a>
    </li>

    <li>
      <a routerLink="login" title="login">
        LOG IN/Sign up
      </a>
    </li>
  </ul>
</nav>
  <!-- </div> -->
</div>

 </div>
</div>