#footer {
    letter-spacing: .5px;
    line-height: 1.6em;
    background-color: #201a16;
}
.footer-inner {
    max-width: 1020px;
    width: auto;
    margin: auto;
    padding-left: 22px;
    padding-top: 64px;
    padding-bottom: 64px;
}
.foot-content {
    display: inline-block;
    padding-left: 114px;
    vertical-align: top;
}
.foot-content a {
    text-decoration: none;
    color: #fff;
    font-size:  19px; 
    word-wrap: break-word;
    cursor: pointer;
    
}
.negotiate {
    color: #fff;
    text-align: center;
}
