<!-- <p>
  footer works!
</p> -->

<footer id="footer" role="contentinfo">
    <div class="footer-inner">
    
      <div class="foot-layout"  id="footerBlocks">
                  <div class="foot-content">
                    <p>
                      <a href="/mini-ballet">
                        AGES 1 TO 4
                      </a>
                      <br>
                      <a href="/ages-7up">
                        AGES 5 &amp; UP
                      </a><br>
                      <a href="/intensive-programs">
                        Intensive Programs
                      </a><br>
                      <a href="/summer-programs">Summer Programs
                      </a>
                    </p>
                  </div>
              
                  <div class="foot-content">
                    <p>
                      <a href="/teachers">Teachers
                      </a><br>
                      <a target="_blank" href="/s/newsletter_dec_2016.pdf">Choriographer
                      </a><br>
                      <!-- <a target="_blank" href="/s/newsletter_dec_2016.pdf">Newsletter
                      </a><br>
                      <a target="_blank" href="/s/Master-Schedule-2018-2019-revised-May-8.pdf">MASTER SCHEDULE
                      </a><br>
                      <a href="/calendar">School Calendar
                      </a> -->
                    </p>
                  </div>
                
              
                  <div class="foot-content">
                    <p>
                      <a href="/home">Home
                      </a><br>
                      <a href="/registration">Registration
                      </a><br>
                      <a href="/email-us">Contact
                      </a>
                    </p>
                  </div>
                
      </div>

    </div>
  </footer>
