<!-- <p>
  footer works!
</p> -->

<footer id="footer" role="contentinfo">
    <div class="footer-inner">
    
      <div class="foot-layout"  id="footerBlocks">
                  <div class="foot-content">
                    <p>
                      <!-- <a href="/mini-ballet">
                        AGES 1 TO 4
                      </a>
                      <br>
                      <a href="/ages-7up">
                        AGES 5 &amp; UP
                      </a><br>
                      <a href="/intensive-programs">
                        Intensive Programs
                      </a><br> -->
                      <a routerLink="home">Home</a><br>
                      <a routerLink="register">Registration
                      </a><br>
                     
                    </p>
                  </div>
              
                  <div class="foot-content">
                    <p>
                      <a routerLink="dancers">Dancers
                      </a><br>
                      <a target="_blank" routerLink="choreographers">Choreographers
                      </a><br>
                      <!-- <a target="_blank" href="/s/newsletter_dec_2016.pdf">Newsletter
                      </a><br>
                      <a target="_blank" href="/s/Master-Schedule-2018-2019-revised-May-8.pdf">MASTER SCHEDULE
                      </a><br>
                      <a href="/calendar">School Calendar
                      </a> -->
                    </p>
                  </div>
                
              
                  <div class="foot-content">
                    <p>
                      <a routerLink="/summerPrograms">Summer Programs
                      </a><br>
                      <a routerLink="/contactUs">Contact
                      </a>
                    </p>
                  </div>
                
      </div>

    </div>
    <p class="negotiate">{{negtiate_variable}}</p>
  </footer>
