<body class="no-mobile">

    
        
    <!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WCN7GRP" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
    
    <!-- HEADER -->
    <div class="preloader" style="display: none;">&nbsp;</div>

    <!-- WRAPPER -->
    <div class="wrapper no-margin" style="min-height: 211px;">      
  
    




    <!-- Image Header --><div class="dark ">
<div class="jumbotron no-height overlay bg-sl-section-parallax inner-heros summer" data-stellar-background-ratio=".5" [ngStyle]="{'background-image': 'url(\'assets/images/summer_camp.jpg\')'}">
<div class="container middle text-center" style="margin-top: 131.5px;">
    <div class="col-sm-8 col-sm-offset-2">
        <h1>Summer Camps</h1>
    </div>
    <div class="col-xs-12 text-left"><div class="credit">Summer Camp students</div></div>
</div>
</div>
</div>

    <!-- CONTAINER -->
    <div class="container md-padding sm-padding-bottom">
        <div class="row">
            <h1><strong>2018 SUMMER CAMPS</strong></h1>
            <br>
            <p>During the summer of 2018, Colorado Ballet Academy will offer Summer Dance Camps for Ages 3-4, 5-6, 7-9. All classes will take place at
                the Colorado Ballet Studios at the Armstrong Center for Dance, 1075 Santa Fe Drive, Denver, CO.&nbsp; Please view the 2018 Summer Camp
                schedule below and click register to sign up for a specific camp.</p>

            <hr>
            


            <h2><strong>Boys and Girls ages 3-4 &amp; 5-6</strong></h2>
        </div>


        <!-- <table>
            <tbody>
                <tr valign="top">
                    <td style="width:30%"><img src="/academy/summer_camps_2018/2018-MMC-Contemporary-3_6-400x400.jpg"> </td>
                    <td style="width:70%">
                        <h3><strong>Move, Make &amp; Create – Contemporary | June 11-15</strong></h3>
                        <h6><strong>Time: 9:30a.m.-12:00p.m.<br />                                 Price: $175</strong></h6>
                        <p>Balanchine, Stravinsky, Philip Glass, Picasso, Miro and more! The tradition of ballet matures into an age of expression, athleticism,
                            refinement, and intriguing geometric shapes &amp; formations. Students will have fun exploring the range of balletic movement,
                            choreography, modern art, expressive crafts, and contemporary music. The week will culminate in a short, informal presentation
                            of all that they learned and created.</p>
                        <table>
                            <tbody>
                                <tr>
                                    <td><a class="btn btn-default btn-sm" href="https://tickets.coloradoballet.org/auxiliary/Reserve.aspx?p=4373" target="_blank">REGISTER 3-4 Year Olds</a>                                            </td>
                                    <td><a class="btn btn-default btn-sm" href="https://tickets.coloradoballet.org/auxiliary/Reserve.aspx?p=4375" target="_blank">REGISTER 5-6 Year Olds</a>                                            </td>
                                </tr>
                            </tbody>
                        </table>
                        <br />
                        <br /> </td>
                </tr>
            </tbody>
        </table>-->
        <table>
            <tbody>
                <tr valign="top" class="oddrow">
                    <td style="width:30%"><img class="balle_img" src="assets/images/ballet.jpg"> </td>
                    <td style="width:70%">
                        <h3><strong>Ballet Prince &amp; Princess Camp | July 30-August 3</strong></h3>
                        <h6><strong>Time: 9:30a.m.-12:00p.m.<br>                                 Price: $175</strong></h6>
                        <p>The classic prince and princesses featured prominently in the world of ballet come to life in this camp. <em>The Sleeping Beauty</em>,
                            <em>Swan Lake</em>, <em>Cinderella</em>, and <em>The Nutcracker</em> are some of the ballets explored.
                            </p><table>
                            <tbody>
                                <tr>
                                    <td><a class="btn btn-default btn-sm" href="" target="_blank" style="pointer-events: none; color:#000000">REGISTER 3-4 Year Olds - SOLD OUT</a>                                            </td>
                                    <td><a class="btn btn-default btn-sm" href="" target="_blank" style="pointer-events: none; color:#000000">REGISTER 5-6 Year Olds - SOLD OUT</a>                                            </td>
                                </tr>
                            </tbody>
                        </table>
                        <br>
                        <br> 
                        </td>
                </tr>
            </tbody>
        </table>
        <table style="background-color: #83f0ff; padding: 10px;">
            <tbody>
                <tr valign="top" class="oddrow">
                    <td style="width:30%"><img class="balle_img" src="assets/images/move.jpg"> </td>
                    <td style="width:70%">
                        <h3><strong>Ballet Elf &amp; Fairy Camp | August 6-10</strong></h3>
                        <h6><strong>Time: 9:30a.m.-12:00p.m.<br>                                 
                            Price: $175</strong></h6>
                        <p>Elves, fairies, imps and pixies inhabit many classical ballets from <em>Sleeping Beauty</em> to <em>Midsummer Night’s Dream</em>.
                            <br>
                            <br>
                            In both ballet camps the dancers will practice age and skill appropriate ballet movements and skills, learn about the music, 
                            have story time, and make art and crafts inspired by these mischievous characters.</p>
                        <table>
                            <tbody>
                                <tr>
                                    <td><a class="btn btn-default btn-sm" href="" target="_blank" style="pointer-events: none; color:#000000">REGISTER 3-4 Year Olds - SOLD OUT</a>                                            </td>
                                    <td><a class="btn btn-default btn-sm" href="" target="_blank" style="pointer-events: none; color:#000000">REGISTER 5-6 Year Olds - SOLD OUT</a>                                            </td>
                                </tr>
                            </tbody>
                        </table>
                        <br>
                        <br> </td>
                </tr>
            </tbody>
        </table>

        <br>
        <br>
        <h2><strong>Boys and Girls Ages 7-9</strong></h2>

        <!--<table>
            <tbody>
                <tr valign="top">
                    <td style="width:30%"><img src="/academy/summer_camps_2018/2018-MMC-Contemporary-7_9-400x400.jpg"> </td>
                    <td style="width:70%">
                        <h3><strong>Move, Make &amp; Create – Contemporary | June 11-15</strong></h3>
                        <h6><strong>Time: 9:00a.m.-1:30p.m.<br />                                 Price: $275</strong></h6>
                        <p>Balanchine, Stravinsky, Philip Glass, Picasso, Miro and more! The tradition of ballet matures into an age of expression, athleticism,
                            refinement, and intriguing geometric shapes &amp; formations. Students will have fun exploring the range of balletic movement,
                            choreography, modern art, expressive crafts, and contemporary music. The week will culminate in a short, informal presentation
                            of all that they learned and created.</p> <a class="btn btn-default btn-sm" href="https://tickets.coloradoballet.org/auxiliary/Reserve.aspx?p=4377" target="_blank">REGISTER</a>
                        <br />
                        <br /> </td>
                </tr>
            </tbody>
        </table>-->
        <table style="padding: 10px;">
            <tbody>
                <tr valign="top" class="oddrow">
                    <td style="width:30%"><img class="balle_img" src="assets/images/boygirl.jpg"> </td>
                    <td style="width:70%">
                        <h3><strong>Dance Around the World — East | July 30-August 3<br>                                 Dance Around the World — West | August 6-August 10</strong></h3>
                        <h6><strong>Time: 9:00a.m.-1:30p.m.<br>                                 Price: $275</strong></h6>
                        <p>North, South, East &amp; West! Every country has traditional and classical dance forms. In addition to daily ballet classes,
                            students will learn and practice other popular dance forms from around the world. Eastern dances may include Chinese, Flamenco,
                            and African. Western dances may include Break Dancing, Hip-Hop, Square Dance, and Salsa. Each week will conclude with a
                            demonstration of what the students learned. A trip around the world through dance!</p>
                        <table>
                            <tbody>
                                <tr>
                                    <td><a class="btn btn-default btn-sm" href="" target="_blank" style="pointer-events: none; color:#000000">REGISTER EAST - SOLD OUT</a>                                            </td>
                                    <td><a class="btn btn-default btn-sm" href="https://tickets.coloradoballet.org/auxiliary/Reserve.aspx?p=4383" target="_blank">REGISTER WEST</a>                                            </td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
            </tbody>
        </table>
        <br>
        <br>
        <hr>

        <h2>Past Classes</h2>
  <table style="background-color: #83f0ff; padding: 10px;">
            <tbody>
                <tr valign="top" class="oddrow">
                    <td style="width:30%"><img class="balle_img"src="assets/images/move-create.jpg"> </td>
                    <td style="width:70%">
                        <h3><strong>Move, Make &amp; Create – Classical | June 4-8</strong></h3>
                        <h6><strong>Time: 9:30a.m.-12:00p.m.<br>                                 
                            Price: $175</strong></h6>
                        <p>Tchaikovsky, Monet and Marius Petipa! The dancers will be introduced and immersed in all that is classical in the worlds of
                            ballet, music and art! A week of ballet to the classics –<em> The Sleeping Beauty</em>, <em>The Nutcracker</em> and <em>Swan Lake</em>.
                            Classical costumes, classical art, stage design and crafts, all combined to expand creativity and imagination. The week
                            will culminate in a short, informal presentation of all that they learned and created.</p>

                    </td>
                </tr>
            </tbody>
        </table>

        <table style="padding: 10px;">
            <tbody>
                <tr valign="top">
                    <td style="width:30%"><img class="balle_img" src="assets/images/move2.jpg"> </td>
                    <td style="width:70%">
                        <h3><strong>Move, Make &amp; Create – Classical | June 4-8</strong></h3>
                        <h6><strong>Time: 9:00a.m.-1:30p.m.<br>                                 Price: $275</strong></h6>
                        <p>Tchaikovsky, Monet and Marius Petipa! The dancers will be introduced to and immersed in all that is classical in the worlds
                            of ballet, music and art! A week of ballet to the classics – <em>The Sleeping Beauty</em>, <em>The Nutcracker</em> and
                            <em>Swan Lake</em>. Classical costumes, classical art, stage design and crafts, all combined to expand creativity and imagination.
                            The week will culminate in a short, informal presentation of all that they learned and created.</p>
                        <br>
                        <br> </td>
                </tr>
            </tbody>
        </table>

        <div class="row">&nbsp;</div>
        <div class="row">
            <div>
                <p><span style="font-size: 8pt; font-family: arial, sans-serif; color: #666666;"></span> </p>
                <div>
                    <div>
                        <div>&nbsp;</div>
                    </div>
                </div>
            </div>
    </div>
    </div>




  









</div>
    <!-- <a routerLink ="summerPrograms" class="scrolltop"><em><span class="hide">Return to Top of Page</span></em></a>
   -->



</body>
