  <div class="login_container"  [ngStyle]="{'background-image': 'url(\'assets/images/login.jpg\')'}">
    <ngb-alert type="danger" [dismissible]="submitted" *ngIf="submitted" (close)="submitted=false">
        <strong> {{message}}</strong>
      </ngb-alert>
    <h1 class="login_header">Login Form</h1>
    <form #loginForm = "ngForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="emil">Email</label>
        <input type="email" class="form-control" id="emil" [(ngModel)]="model.email" name="emil" required #email="ngModel">
        <div [hidden]="email.valid || email.pristine"  class="alert alert-danger">
            Email is required
        </div>

      </div>
 
      <div class="form-group">
        <label for="pwd">Password</label>
        <input type="password" class="form-control" id="pwd" [(ngModel)]="model.password" name="passwd" required #pwdtemplateReferencevariable="ngModel">
        <div [hidden]="pwdtemplateReferencevariable.valid || pwdtemplateReferencevariable.pristine"  class="alert alert-danger">
          Password is required
      </div>
      </div>
 
      <button type="submit" class="btn btn-success submt" [disabled]="!loginForm.form.valid" sclass="waves-light" mdbWavesEffect>Submit</button>
 
    </form>
    <br>
    <button type="button" (click)="googleLogin()" mdbBtn class="btn btn-danger btn-gplus waves-light" mdbWavesEffect><i class="fa fa-google-plus left"></i>Login with Google</button>

    <div class="register_block">
      <p>
        Don't have Account ? <a routerLink="/register">Register here</a>
      </p>
    </div>
</div>

