<nav>
    <ul>
      <li>
        <a routerLink="choreographers">
          <i class="material-icons" title="List of choreographers">accessibility new</i>
          <!-- <i class="material-icons">supervised_user_circle</i> -->
        </a>
      </li>
      <li>
        <a routerLink="dancers">
          <i class="material-icons" title="List of Dancers">accessibility</i>
        </a>
      </li>
      <li>
        <a routerLink="summerPrograms">
          <i class="material-icons" title="Summer Programs">supervised_user_circle</i>
        </a>
      </li>
      <li>
          <a routerLink="contactUs">
            <i class="material-icons" title="Contact us">message</i>
          </a>
        </li>
    </ul>
  </nav>
 