<div class="user_content" [ngStyle]="{'background-image': 'url(\'assets/images/choreographers.jpg\')'}">
  <h1>List of available ChoreoGraphers</h1>
    <ul [@listStagger] = "users$">
            <li *ngFor="let user of users$">
              <a routerLink='/details/{{user.choreographerId}}'>{{user.name | uppercase}}</a>
          
              <ul>
                <li>DanceStyle: {{user.dancestyle}}</li>
                <li>
                  Availability Day:<a href="#">{{user.available}}</a>
                </li>
                <li>Age: {{user.age}}</li>
              </ul>
            </li>
          </ul>
</div>
