.banner_image img {
    width:100%;
}
.image_gallery img {
    max-width: 100%;
    width:173px;
}
.image_gallery {
    width: 1400px;
    padding-top: 61px;
    padding-left: 0;
    text-align: center;
    margin: auto;
}
.image_gallery div {
    display: inline-block;
    width: 10.6667%;
}
#logoWrapperhome {
    float: left;
    margin: 50px 0;
    width: 100%;
    text-align: center;

 }
 .logoImage { display: inline-block;
    vertical-align: top;
}
 .logoImage img {
    height: auto;
    max-height: 80px;
    width: 91px;
    max-width: 100%;
}
.logo_text {
    display: inline-block;
    margin-left: 20px;
    font-size: 63px;
}
.introduction {
    word-wrap: break-word;
    font-family: europa;
    font-weight: 300;
    font-style: normal;
    font-size: 21px;
    letter-spacing: .5px;
    line-height: 1.6em;
    color: #1f1f1f;
    padding-left: 0;
    padding-right: 0;
    width: 770px;
    padding-top: 55px;
    margin: auto;
}