<!-- <p>
  home works!
</p> -->
<div class="home">
  <div class="banner_image">
    <img src="assets/images/banner.jpg" alt="Dance" class="base_dance_image">
  </div>

  <div class="image_gallery">
    <div>
        <img src="assets/images/image_gallery/img_gal_1.png" alt="top_100">
    </div>

    <div>
      <img src="assets/images/image_gallery/img_gal_2.png" alt="dance_challenge">
    </div>

    <div>
      <img src="assets/images/image_gallery/img_gal_3.png" alt="winner_scholarshp">
    </div>

    <div>
      <img src="assets/images/image_gallery/img_gal_4.png" alt="bese_rated">
    </div>

    <div>
      <img src="assets/images/image_gallery/img_gal_5.png" alt="canadian_nat_dance">
    </div>
  </div>

  <!-- <div>
    <img src="">
  </div> -->
  <div id="logoWrapperhome" class="wrapper" data-content-field="site-title">        
    <h1 class="logoImage"><img src="assets/images/logo.jpg" alt="Free The Feet"></h1>
    <h3 class="logo_text">FREE Ur FEET</h3>
 </div>
  
 <div class="introduction">
   <p>
  "FEEL THE FOOT offers quality dance instruction done with care.&nbsp;&nbsp;We provide a variety of classes taught by a qualified and experienced teaching faculty." <br>&nbsp;
</p>
 </div>
</div>
