
<!-- <a type="button" class="btn-floating btn-large btn-fb waves-light" mdbWavesEffect><i class="fa fa-facebook"></i></a> -->
<!-- <a class="btn btn-block btn-social btn-twitter">
    <span class="fa fa-twitter"></span>
    Sign in with Twitter
  </a> -->

 <!-- <div id="preFooter" class="">
    <div class="pre-footer-inner">
      <div class="sqs-layout sqs-grid-12 columns-12" data-layout-label="Pre-Footer Content" data-type="block-field" data-updated-on="1410292214726" id="preFooterBlocks"><div class="row sqs-row"><div class="col sqs-col-12 span-12"><div class="sqs-block socialaccountlinks-v2-block sqs-block-socialaccountlinks-v2" data-block-type="54" id="block-yui_3_17_2_1_1410291973006_4664"><div class="sqs-block-content">

<div class="sqs-svg-icon--outer social-icon-alignment-center social-icons-color-black social-icons-size-small social-icons-style-regular ">
<nav class="sqs-svg-icon--list">
<a href="https://www.facebook.com/pages/Marquis-Dance-Academy/109614045781029" target="_blank" class="sqs-svg-icon--wrapper facebook">
  <div>
    <svg class="sqs-svg-icon--social" viewBox="0 0 64 64">
      <use class="sqs-use--icon" xlink:href="#facebook-icon"></use>
      <use class="sqs-use--mask" xlink:href="#facebook-mask"></use>
    </svg>
  </div>
</a><a href="https://twitter.com/marquis_dance" target="_blank" class="sqs-svg-icon--wrapper twitter">
  <div>
    <svg class="sqs-svg-icon--social" viewBox="0 0 64 64">
      <use class="sqs-use--icon" xlink:href="#twitter-icon"></use>
      <use class="sqs-use--mask" xlink:href="#twitter-mask"></use>
    </svg>
  </div>
</a><a href="http://instagram.com/marquis_dance" target="_blank" class="sqs-svg-icon--wrapper instagram">
  <div>
    <svg class="sqs-svg-icon--social" viewBox="0 0 64 64">
      <use class="sqs-use--icon" xlink:href="#instagram-icon"></use>
      <use class="sqs-use--mask" xlink:href="#instagram-mask"></use>
    </svg>
  </div>
</a>
</nav>
</div></div></div></div></div></div>
    </div>
  </div> -->
