.ng-valid[required], .ng-valid.required  {
    border-left: 5px solid #42A948; /* green */
  }
  
  .ng-invalid:not(form)  {
    border-left: 5px solid #a94442; /* red */
  }
  .register_container {
    padding: 11%;
   padding-left: 30%;
   padding-right: 30%;
   background-repeat: no-repeat;
   background-position: 50%;
   padding-top: 159px;
    background-size: cover; 
  }