  <div class="register_container"  [ngStyle]="{'background-image': 'url(\'assets/images/register.jpg\')'}">
    <ngb-alert type="success" [dismissible]="submitted" *ngIf="submitted" (close)="submitted=false">
      <strong> {{message}}</strong>
    </ngb-alert>
    <h1 class="login_header">Registration Form</h1>
    <form #loginForm = "ngForm" (ngSubmit)="onSubmit()">

        <div class="form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control" id="name" [(ngModel)]="userDetails.name" name="name" required #nametemplateReferencevariable="ngModel">
            <div [hidden]="nametemplateReferencevariable.valid || nametemplateReferencevariable.pristine"  class="alert alert-danger">
              Name is required
          </div>
        </div>

        <div class="form-group">
            <label for="dob">DOB</label>
            <!-- <ngb-datepicker #d></ngb-datepicker> -->
            <input type="text" class="form-control" ngbDatepicker #d="ngbDatepicker"  #dobtemplateReferencevariable
                />
                <i class="material-icons" title="Contact us" (click)="d.toggle()">calendar today</i>
            <!-- <input type="text" ngbDatepicker [(ngModel)]="userDetails.dob" name="dob"/> -->
<!-- <button (click)="d.toggle()">Toggle</button> -->
            <!-- <input type="text" ngbDatepicker #d="ngbDatepicker"/> -->
            <!-- <input type="text" class="form-control" id="dob" [(ngModel)]="userDetails.dob" name="dob" required #dobtemplateReferencevariable="ngModel"> -->
            <!-- <div [hidden]="dobtemplateReferencevariable || dobtemplateReferencevariable.pristine"  class="alert alert-danger">
              DOB is required
          </div> -->
        </div>

        <div class="form-group">
            <label for="age">Age</label>
            <input type="number" class="form-control" id="age" [(ngModel)]="userDetails.age" name="age" required #agetemplateReferencevariable="ngModel">
            <div [hidden]="agetemplateReferencevariable.valid || agetemplateReferencevariable.pristine"  class="alert alert-danger">
              Age is required
          </div>
        </div>

        <div class="form-group">
          <label for="role">Role</label>
          <input type="text" class="form-control" id="role" [(ngModel)]="userDetails.role" name="role" required #rolesetemplateReferencevariable="ngModel">
          <div [hidden]="rolesetemplateReferencevariable.valid || rolesetemplateReferencevariable.pristine"  class="alert alert-danger">
              Role is required
        </div>
      </div>
   
      <div class="col">
          <div ngbDropdown class="d-inline-block">
            <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>Role</button>
            <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
              <button value="choreographer" class="dropdown-item" ng-click="updateRole(choreographer)">Choreographer</button>
              <button value="dancer" class="dropdown-item" ng-click="userDetails.role = dancer">Dancer</button>
              <!-- <button class="dropdown-item">Something else is here</button> -->
            </div>
          </div>
        </div>

        <div class="form-group">
            <label for="course">Course Type</label>
            <input type="text" class="form-control" id="course" [(ngModel)]="userDetails.coursetype" name="course" required #crsetemplateReferencevariable="ngModel">
            <div [hidden]="crsetemplateReferencevariable.valid || crsetemplateReferencevariable.pristine"  class="alert alert-danger">
                Course Type is required
          </div>
        </div>

        <div class="form-group">
            <label for="course">Dance Style</label>
            <input type="text" class="form-control" id="style" [(ngModel)]="userDetails.danceStyle" name="style" required >
        </div>

      <div class="form-group">
        <label for="emil">Email</label>
        <input type="email" class="form-control" id="emil" [(ngModel)]="userDetails.email" name="emil" required #email="ngModel">
        <div [hidden]="email.valid || email.pristine"  class="alert alert-danger">
            Email is required
        </div>

      </div>
 
      <div class="form-group">
        <label for="pwd">Password</label>
        <input type="password" class="form-control" id="pwd" [(ngModel)]="userDetails.password" name="passwd" required #pwdtemplateReferencevariable="ngModel">
        <div [hidden]="pwdtemplateReferencevariable.valid || pwdtemplateReferencevariable.pristine"  class="alert alert-danger">
          Password is required
      </div>
      </div>
 
      <button type="submit" class="btn btn-success submt" [disabled]="!loginForm.form.valid">Submit</button>
      
    </form>
    </div>

    <!-- <div class="row">
        <div class="col">
          <div ngbDropdown class="d-inline-block">
            <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>Role</button>
            <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
              <button value="choreographer" class="dropdown-item" ng-click="userDetails.role = choreographer">Choreographer</button>
              <button value="dancer" class="dropdown-item" ng-click="userDetails.role = dancer">Dancer</button>
              <!-- <button class="dropdown-item">Something else is here</button> -->
            <!-- </div>
          </div>
        </div>
      <div class="col text-right">
          <div ngbDropdown placement="top-right" class="d-inline-block">
            <button class="btn btn-outline-primary" id="dropdownBasic2" ngbDropdownToggle>Toggle dropup</button>
            <div ngbDropdownMenu aria-labelledby="dropdownBasic2">
              <button class="dropdown-item">Action - 1</button>
              <button class="dropdown-item">Another Action</button>
              <button class="dropdown-item">Something else is here</button>
            </div>
          </div>
        </div>
      </div> --> -->