.base_image {
    margin: 0px;
    padding: 0px;
    
}
.base_image img {    width: 100vw;
    height: 100vh;
    object-fit: cover;}
.quote {
    position: absolute;
    top: 48%;
    left: 75%;
    transform: translate(-50%, -50%);
    font-size: 28px;
    font-weight: bold;
    color: black;
    text-transform: uppercase;
}
.main_link {
    position: absolute;
    top: 21vw;
    left: 44%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-transform: uppercase;
    cursor: pointer;
    font-size: 27px;
    background: blueviolet;
    font-weight: bold; 
    padding: 8px 30px 12px;
    border-radius: 5px;
}
.main_link:hover {background: red;transition: all 0.3s ease-in-out 0s;}
.main_link a {
    text-decoration: none;
    color:#fff;
}