<div class="base_image">
    <img src="assets/images/base.jpg" alt="Dance" class="base_dance_image">
    <div class="quote">
      "Dance, when you're broken open.
      Dance if you've torn the badage off.
      Dance in the middle of the fighting.
      Dance in your blood.Dance when 
      you're perfectly free."
    </div>
    <div class="main_link">
      <a routerLink="home">
        Free The Feet
      </a>
    </div>
</div>

<!-- unable to use 
Can't bind to 'ng-src' since it isn't a known property of 'img'. -->